/*ЧИСТКА ФЛОУТОВ*/

.clearfix{
    /*content: "";*/
    clear: both;
}

body{font-family: Verdana;}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 60px);
    padding-top: 0;
}


/*СТИЛЬ ФОНА*/

.background{
    background: url("../img/ranasawalha.png") center center fixed;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    max-width: 1210px;
    margin: 0 auto;
}

/*СТИЛЬ ШАПКИ*/

.header{
    box-sizing: border-box;
    height: 60px;
    padding-top: 20px;
    background-color: rgba(0, 0, 0, 0.3);
}

.company-logo-link {
    font-family: sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 21px;
    transition: 0.7s;
}

.company-logo-link:hover{color: #3aae72;}

.header-navigation{
    font-size: 14px;
    color: white;
    float: right;
    padding-bottom: 25px;
    border-right: 1px solid grey;
    box-sizing: border-box;
    height: 25px;
}

.login-sign-up{
    float: right;
    padding-left: 25px
}

.header-icon{
    display: inline-block;
    width: 28px;
    height: 25px;
    margin-left: 23px;
    background-image: url("../img/css_sprites.png");
    cursor: pointer;
}

.header-log-in:before{
    height: 10px;
    border-left: 1px solid grey;
}

.header-log-in{color: white;}

.header-icon.calendar{background-position: -106px -49px;}

.header-icon.calendar:hover{background-position: -106px -10px;}

.header-icon.forum{background-position:  -10px -10px;}

.header-icon.forum:hover{background-position: -58px -10px;}

.header-icon.compas{
    background-position: -10px -50px;
    margin-right: 20px;
}

.header-icon.compas:hover{background-position: -50px -50px;}

.header-link{
    text-decoration: none;
    color: #3aae72;
    transition: 0.2s;
}

.header-link:hover{border-bottom: 1px solid #3aae72;}

.login-sign-up-block{
    box-sizing: border-box;
    width: 448px;
    display: block;
    margin: 0 auto;
    border-radius: 12px;
    background-color: white;
    padding: 30px 60px;
    position: relative;
}

.register-form{display: block;}

.sign-up-text{
    display: inline-block;
    font-size: 20px;
    color: #5a5a5a;
}

.login-link{
    float: right;
    text-decoration: none;
    font-size: 14px;
    color: #63c693;
}

.login-sign-up-links{margin-bottom: 15px;}

.login-btn{
    box-sizing: border-box;
    width: 157px;
    position: relative;
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
    text-align: center;
}

.login-btn:before{
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
    padding-right: 36px;
}

.login-btn:focus{outline: none;}

.login-btn:active{box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);}

.facebook-login-btn{
    background-color: #305db8;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    text-shadow: 0 -1px 0 #354C8C;
}

.facebook-login-btn:before{
    border-right: #364e92 1px solid;
    background-image:  url(../img/facebook1.png);
    background-repeat: no-repeat;
    background-position: 11px 7px;
}

.google-login-btn{
    background: #DD4B39;
    float: right;
}

.google-login-btn:before{
    border-right: #BB3F30 1px solid;
    background-image: url(../img/G+.png);
    background-repeat: no-repeat;
    background-position: 6px 9px;
}

.another-way-sign-up{
    color: #848484;
    font-family: Verdana;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    padding-top: 10px;
}
.another-way-sign-up::before {
    content: "";
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    width: 139px;
    height: 1px;
    background: #eaeaea;
    margin-right: 17px;
}

.login-sign-up-buttons{
    margin-bottom: 30px;
}

.another-way-sign-up::after {
    content: "";
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    width: 140px;
    height: 1px;
    background: #eaeaea;
    margin-left: 16px;
}

.register-form{
    margin-bottom: 9px;
    border-radius: 5px;
    box-sizing: border-box;
    border: solid .5px #eaeaea;
    padding-top: 15px;
    padding-left: 17px;
    padding-bottom: 15px;
    width: 100%;
    outline: none;
    font-size: 14px;
    line-height: 21px;
    color: #434343;
    background-color: white;
    transition: .4s;
}

.register-form:focus{
    box-shadow: 0 4px 7px #dbdbdb;
}

.register-form:hover{
    box-shadow: 0 4px 7px #dbdbdb;
}

.check-box-link{
    text-decoration: none;
    color: #3aae72;
    font-size: 14px;
}

.check-box-link:hover{
    border-bottom: solid 1px #3aae72;
}

.creating-account-button{
    width: 100%;
    display: block;
    background-color: #3cb878;
    color: #ffffff;
    font-size: 16px;
    border-radius: 5px;
    padding: 17px 100px;
    margin-top: 1.5em;
}

.creating-account-button:hover{
    background-color: #329a65;
}
.option{
    display: block;
    margin-bottom: 0.25em;
}

.green-box{
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #329a65;
    left: 0;
}

/*CHECKED*/
.check-box-point{
    margin-top: 20px;
}

.check-box-text{
    display: inline-block;
}

.check-box input{
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 20px;
}

.check-box-text{
    position: relative;
    padding: 0 0 0 40px;
    cursor: pointer;
}

.check-box-text:before{
    content: "\00A0";
    box-sizing: border-box;
    border: 1.2px solid #f2f2f2;
    position: absolute;
    top: -4px;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    background: white;
    transition: .4s;
    color: #39ba78;
    font-weight: bold;
    font-family: Verdana;
}

input[type=checkbox]:checked + .check-box-text:before{
    content: "\2714";
}